@import url('imagem1.webp');


body{
    height: 200vh;
}

div{
    margin-bottom: 30px;
}

.exemplo{
    width: 300px;
    height: 300px;
    background-image: url('imagem1.webp'),url('imagem1.webp');
    background-size: 120px;
    border: 1px solid red;
    background-repeat: no-repeat;
    overflow: auto;
}


#cover{
    background-size: cover;
}

#contain{
    background-size: contain;
}

#tamanho{
    background-size: 50%;
}

#exemplo-x-y{
    background-size: 200px 100%;
}

#exemplo-camadas{
    background-size: contain, cover;
}

#repeat-x{
    background-repeat: repeat-x;
}

#repeat-y{
    background-repeat: repeat-y;
}

#space{
    background-repeat: space;
}


#round{
    background-repeat: round;
}

#round{
    background-repeat: no-repeat;
}